In [2]:
import pandas as pd
import numpy as np

In [3]:
A1 = pd.DataFrame(
    [[1,2,3,4],
    [5,6,7,8],
    [1,4,7,np.nan]],
    index=['q','w','e'],
    columns=['x','y','z','i']
)

In [4]:
A2 = pd.DataFrame(
    [['lmq','1','2019/12/1'],
    ['lmq1','10','2019/12/2'],
    ['lmq2','5','2019/12/3']],
    index=['x','y','z'],
    columns=['mz','age','sj']
)

In [5]:
A3 = A2.convert_dtypes()

In [6]:
A2['sj']=pd.to_datetime(A2['sj'])
A2

     mz age         sj
x   lmq   1 2019-12-01
y  lmq1  10 2019-12-02
z  lmq2   5 2019-12-03

In [7]:
A2.dtypes

mz             object
age            object
sj     datetime64[ns]
dtype: object