# 练习

In [2]:
import numpy as np
import pandas as pd

In [3]:
s3 = pd.Series({'语文':90,'数学':92,'英语':98,'物理':87,'化学':92})

In [4]:
s3.idxmax()

'英语'

In [5]:
s3.idxmin()

'物理'

In [6]:
s3[s3>90]

数学    92
英语    98
化学    92
dtype: int64

# 1

In [7]:
data = {'城市':['北京','上海','广州','深圳'],
        '环比':[101.5,101.2,101.3,102.0],
        '同比':[120.7,127.3,119.4,140.9],
        '定基':[121.4,127.8,120.0,145.5]}
pd1 = pd.DataFrame(data,index=['c1','c2','c3','c4'])

In [8]:
pd1

    城市     环比     同比     定基
c1  北京  101.5  120.7  121.4
c2  上海  101.2  127.3  127.8
c3  广州  101.3  119.4  120.0
c4  深圳  102.0  140.9  145.5

In [9]:
pd1['同比']

c1    120.7
c2    127.3
c3    119.4
c4    140.9
Name: 同比, dtype: float64

In [10]:
type(pd1[1:2])

pandas.core.frame.DataFrame

In [11]:
type(pd1.loc['c2'])

pandas.core.series.Series

# 2

In [12]:
pd1.iloc[:,[0,2]][pd1.iloc[:,2]>120]

    城市     同比
c1  北京  120.7
c2  上海  127.3
c4  深圳  140.9

In [13]:
pd1.loc[:,['城市','同比']][pd1.loc[:,'同比']>120]

    城市     同比
c1  北京  120.7
c2  上海  127.3
c4  深圳  140.9

In [14]:
pd1

    城市     环比     同比     定基
c1  北京  101.5  120.7  121.4
c2  上海  101.2  127.3  127.8
c3  广州  101.3  119.4  120.0
c4  深圳  102.0  140.9  145.5

In [15]:
pd1['评价指数']=100.0

In [16]:
pd1

    城市     环比     同比     定基   评价指数
c1  北京  101.5  120.7  121.4  100.0
c2  上海  101.2  127.3  127.8  100.0
c3  广州  101.3  119.4  120.0  100.0
c4  深圳  102.0  140.9  145.5  100.0

In [17]:
pd1.drop(labels='评价指数',axis=1)

    城市     环比     同比     定基
c1  北京  101.5  120.7  121.4
c2  上海  101.2  127.3  127.8
c3  广州  101.3  119.4  120.0
c4  深圳  102.0  140.9  145.5

# 3

In [18]:
data = {'数据信息学院':np.random.randint(1,100,10),
        '文化教育学院':np.random.randint(1,100,10),
        '机电汽修学院':np.random.randint(1,100,10)}

In [19]:
data

{'数据信息学院': array([ 6, 39, 22, 32, 19, 56, 50, 18, 84, 21]),
 '文化教育学院': array([42, 46, 36, 23, 46, 11, 71, 73, 32, 45]),
 '机电汽修学院': array([83, 76, 77, 20, 59, 48, 46, 32, 73, 42])}

In [20]:
from datetime import datetime
date = pd.date_range(start='202010100800',end='202010101700',freq='H')

In [21]:
date

DatetimeIndex(['2020-10-10 08:00:00', '2020-10-10 09:00:00',
               '2020-10-10 10:00:00', '2020-10-10 11:00:00',
               '2020-10-10 12:00:00', '2020-10-10 13:00:00',
               '2020-10-10 14:00:00', '2020-10-10 15:00:00',
               '2020-10-10 16:00:00', '2020-10-10 17:00:00'],
              dtype='datetime64[ns]', freq='H')

In [22]:
pd3 = pd.DataFrame(data,index=date)

In [23]:
pd3

                     数据信息学院  文化教育学院  机电汽修学院
2020-10-10 08:00:00       6      42      83
2020-10-10 09:00:00      39      46      76
2020-10-10 10:00:00      22      36      77
2020-10-10 11:00:00      32      23      20
2020-10-10 12:00:00      19      46      59
2020-10-10 13:00:00      56      11      48
2020-10-10 14:00:00      50      71      46
2020-10-10 15:00:00      18      73      32
2020-10-10 16:00:00      84      32      73
2020-10-10 17:00:00      21      45      42

In [24]:
pd3.resample('1H').sum()

                     数据信息学院  文化教育学院  机电汽修学院
2020-10-10 08:00:00       6      42      83
2020-10-10 09:00:00      39      46      76
2020-10-10 10:00:00      22      36      77
2020-10-10 11:00:00      32      23      20
2020-10-10 12:00:00      19      46      59
2020-10-10 13:00:00      56      11      48
2020-10-10 14:00:00      50      71      46
2020-10-10 15:00:00      18      73      32
2020-10-10 16:00:00      84      32      73
2020-10-10 17:00:00      21      45      42

# 4

In [26]:
a = pd.read_csv(r'‪d:\Desktop\meal_order_info.csv')
a

FileNotFoundError: [Errno 2] File b'\xe2\x80\xaad:\\Desktop\\meal_order_info.csv' does not exist: b'\xe2\x80\xaad:\\Desktop\\meal_order_info.csv'